:root {
    --playstation-blue: #00439C;
    --playstation-gray: #757575;
    --playstation-black: #363636;
    --playstaton-ice: #F0F0F0;
    --playstation-lightblue: #99DAFF;
    --playstation-hover: #0072CE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 95%
}

body {
    font-family: 'Noto Sans JP', sans-serif;;
}

a {
    text-decoration: none;
    color: black;
}

/* header */
.black-header { 
    display: flex;
    max-height: 35px;
    background-color: black;
    justify-content: flex-end;
    align-content: center;
}

.sony-link {
    color: white;
    text-decoration: none;
    padding: 15px;
    align-self: center;
    letter-spacing: 1px;

}





.pslogo {
    width: 34px;
    height: 34px;
    margin-left: 15px;
    margin-right:30px;
}

nav {
    display: flex;
}

.shared button {
    border: none;
    cursor: pointer;
    color: var(--playstation-gray);
    background-color: white;
    margin-right: 40px;
    font-weight: normal;
    font-size: 15px;
}   

.shared {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 1000px;
}

.container-social {
    width: 100%;
    min-width: 600px;
}

ul.social {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    margin-left: 1000px;
}

.social-button {
    border: none;
    cursor: pointer;
    background-color: white;
    margin-right: 15px;
    color: var(--playstation-gray);
    font-size: 15px;
    font-weight: bold;
}

.social-button a {
    color: white;
    background-color: var(--playstation-black);
}

/* Menu */

.container {
    margin-top: 15px;
}

.dash{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


.dash ul {
    list-style: none;
    font-weight: 550;
    margin-left: -220px;
    
}
.dash ul li{
    display: inline-block;
}

a .pstore--logo {
    margin-left: 30px;
}
.tab a{
    text-decoration: none;
    color: var(--playstation-black);
    margin-right: 10px;
}


/* Highlight */ 

.highlights {
    display: flex;
    margin-top: 50px;
    max-width: 120rem;
    min-height: 17rem;
    width: 100%;
    min-width: 100%;
    position: relative;
    z-index: -1;

}

.today-highlight {
    height: 1000px;
    min-width: 100%;
    z-index: -1;
}

.today-highlight-logo {
    position: absolute;
    align-self: center;
    height: 200px;
    width: 460px;
    margin-left: 23.5rem;
    z-index: 0;
}



.highlight-description {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 250px;
    margin-top: -14rem;
    position: relative;
    color: black;
    background-color: rgba(255, 255, 255, 0.96)
}

.p {
    font-weight: 350;
    font-size: 40px;
}

/* Trends */ 

.trend {
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    margin-bottom: 4rem;
    font-size: 2.7rem;
    font-weight: lighter;
}

#trends, #trends ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    list-style: none; 
}

#trends > ul > li > a > img {
    padding: 2px;
}

#trends > ul > li:hover {
    border: 2px solid var(--playstation-hover);
    max-height: 452px;
}

.trends2 {
    margin-top: 48px;
}

.miles {
    margin-left: 15rem;
}

.street {
    margin-right: 15rem ;
}

/* See more */ 

#more {
    max-width: 1860px;
    margin-bottom: 100px;
}

#more h2 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 400;
}

.more-items {
    max-width: 100%;
}

.items li {
    list-style-type: none;
}

#more > section > ul > li > a > img {
    padding: 2px;
}

#more > section >  ul > li:hover {
    max-height: 452px;
    border: 2px solid var(--playstation-hover);
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    justify-content: center;

}

.flex {
    display: flex;
    justify-content: center;
}

.flex li {
    list-style-type: none;
    margin-top: 30px;
    margin-right: 30px;
}


/* Footer */

footer {
    background-color: var(--playstation-blue);
    padding: 2rem;
}

.region {
    display: flex;
    align-items: center;
    justify-content: start;

    margin-left: 18.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.region > h3 {
    font-weight: lighter;
    color: white;
}

.logo-white {
    max-height: 4.5rem;
    margin-right: 2.5rem;
}

.globe-white {
    height: 30px;
    margin-right: 1rem;
}

.contact {
    width: 64rem;
    margin-left: 20rem;
    margin-bottom: 5rem;
}

.contact > ul {
    display: flex;
    list-style-type: none;
    font-weight: 400;
    justify-content: space-between;
}

.flex1 > a > li, .flex2 > a > li, .flex3 > a > li {
    color: white;
}

.flex1 > a > li:hover, .flex2 > a > li:hover, .flex3 > a > li:hover  {
    color: var(--playstation-lightblue);
}

.flex2 {
    margin-left: 5rem; 
}

.flex1 > a > li, .flex2 > a > li, .flex3 > a > li {
    margin-bottom: 1rem;
}

.rights {
    text-align: center;
    margin-bottom: 4.3rem;
}

.rights > p > a {
    color: white;
    font-weight: 350;
}

.rights > p > a:hover {
    color: var(--playstation-lightblue);
}